.about {
	background-color: var(--color-blue);
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aboutInfo {
	text-align: left;
	max-width: 800px;
}

.aboutInfo h1 {
	color: var(--color-yellow);
}

.aboutInfo p {
	font-size: 20px;
	line-height: 30px;
}
