.home-page {
	display: grid;
	grid-template-columns: 0.8fr 2.5fr 0.8fr;
	background-color: var(--color-cream);
	height: 100vh; /* Set the height of the home page to fill the viewport */
}

.sidebar-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 50px;
	text-align: left;
	/* max-width: 210px; */
	background-color: var(--color-blue-muted);
}

.sidebar-left h2 {
	margin-bottom: 10px;
	font-size: 1.5rem;
}

.sidebar-left ul {
	list-style-type: none;
	padding: 0;
}

.sidebar-left li {
	margin-bottom: 5px;
}

.main-content {
	background-color: var(--color-cream);
	padding: 20px;
}

.main-content h1 {
	margin-bottom: 20px;
}

.sidebar-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
	padding: 40px 50px;
	/* width: 210px; */
	border-left: 1px solid black;
}

.sidebar-right h2 {
	margin-bottom: 10px;
	font-size: 1.5rem;
}

.interests {
	background-color: var(--color-green);
	font-weight: bold;
	color: white;
}

.mentorContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}

.mentorInd {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
