@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
	font-family: 'DM Sans';
}

:root {
	--color-brown: #c69261;
	--color-cream: #f9f5f1;
	--color-cream-muted: #cfc9c3;
	--color-blue: #357bd6;
	--color-blue-muted: #5c97e4;
	--color-light-green: #00ff4c;
	--color-green: #42b72a;
	--color-gray: #868f98;
	--color-coral: #ff477e;
	--color-coral-muted: #dd3c6c;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-cream);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	text-align: center;
}

/* Baseline styling for links and buttons */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background-color: var(--color-gray);
	color: var(--color-cream);
	border: none;
	padding: 8px 12px;
	font-size: 1rem;
	cursor: pointer;
}
