.login {
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-blue);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginWrapper {
	width: 50%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.loginLeft {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.loginRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loginLogo {
	font-size: 50px;
	font-weight: 800;
	color: var(--color-yellow);
	margin-bottom: 10px;
}

.loginDesc {
	font-size: 24px;
	color: white;
}

.loginBox {
	padding: 40px 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.loginInput {
	height: 50px;
	border-radius: 10px;
	border: 1px solid var(--color-gray);
	font-size: 18px;
	padding-left: 20px;
}

.loginInput:focus {
	outline: none;
}

.loginButton {
	transition: 0.25s;
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: var(--color-blue-green);
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	width: 100%;
}

.loginButton:hover,
.loginButton:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--color-blue-green);
	transform: translateY(-0.15em);
}

.loginForgot {
	text-align: center;
	color: var(--color-blue);
}

.loginRegisterButton {
	transition: 0.25s;
	width: 100%;
	align-self: center;
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: var(--color-red-accent);
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.loginRegisterButton:hover,
.loginRegisterButton:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--color-red-accent);
	transform: translateY(-0.15em);
}

.loginButtonWrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
}

.loginError {
	margin-top: 20px;
	text-align: center;
	color: var(--color-red-accent);
	font-size: 16px;
}
