.login {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-blue);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginWrapper {
	width: 70%;
	height: fit-content;
	display: flex;
}

.loginLeft {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.loginRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loginLogo {
	font-size: 50px;
	font-weight: 800;
	color: var(--color-green);
	margin-bottom: 10px;
}

.loginDesc {
	font-size: 24px;
	color: white;
}

.loginBox {
	height: 300px;
	padding: 40px 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.loginInput {
	height: 50px;
	border-radius: 10px;
	border: 1px solid var(--color-gray);
	font-size: 18px;
	padding-left: 20px;
}

.loginInput:focus {
	outline: none;
}

.loginButton {
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: var(--color-green);
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	width: 100%;
}

.loginForgot {
	text-align: center;
	color: var(--color-blue);
}

.loginRegisterButton {
	width: 100%;
	align-self: center;
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: var(--color-gray);
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.loginButtonWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
}
