.mentor {
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	min-height: 220px;
	text-align: left;
}

.mentor p {
	margin: 20px 0;
}

.mentor-name {
	font-weight: bold;
	color: #333333;
}

.mentorBtnContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.about-button {
	margin-right: auto; /* Push the button to the left */
	background-color: var(--color-blue-green);
	color: white;
	border-radius: 20px;
	transition: background-color 0.3s;
}

.about-button:hover {
	background-color: var(--color-blue-green-shaded);
}

.connect-button {
	margin-left: auto; /* Push the button to the right */
	background-color: var(--color-cream-accent);
	color: black;
	border-radius: 20px;
	transition: background-color 0.3s;
}

.connect-button:hover {
	background-color: var(--color-cream-tertiary);
}
