.my-masonry-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 0;
	width: auto;
	max-width: 980px;
	margin: auto;
}
.my-masonry-grid_column {
	padding-left: 15px;
	background-clip: padding-box;
}

.my-masonry-grid_column > div {
	margin-bottom: 15px;
}
.item img {
	max-width: 100%;
	height: auto;
}

.alignleft {
	float: left;
	margin-inline-start: 0;
	margin-inline-end: 10px;
	border-bottom: 10px solid #eee0;
}
.card {
	vertical-align: top;
	background: #fff;
	color: #013161;
	padding: 5%;
	font-family: sans-serif;
	font-size: 0.95em;
	border-radius: 10px;
	min-height: 40px;
	transform: rotateY(90deg);
}

li {
	margin: 0;
}

@media screen and (max-width: 580px) {
	.container {
		display: table;
		margin: 0 auto 100px auto;
		width: 80%;
	}
	.item {
		width: 90%;
		max-width: 300px;
		margin: auto;
		padding: 0 0 15px;
	}
}
