.navbar {
	display: flex;
	margin-top: 15px;
	margin-left: 20px;
	background-color: var(--color-cream);
	padding-bottom: 20px;
}

.nav-item {
	margin-right: 30px;
}

.nav-item .active {
	background-color: var(--color-cream-muted);
	color: black;
	border: solid 1px black;
	border-radius: 20px;
}

.inactive {
	background-color: transparent;
	color: black;
	border: solid 1px black;
	border-radius: 20px;
}
