.navContainer {
	display: flex;
	margin: 17px 20px 0;
	padding-bottom: 15px;
	align-items: center;
	justify-content: space-between;
}

.navContainer > h2 {
	margin: 0;
}

.navbar {
	display: flex;
	background-color: var(--color-cream);
}

.nav-item {
	margin-right: 30px;
}

.nav-item .active {
	background-color: var(--color-blue);
	color: white;
	border: solid 1px black;
	border-radius: 20px;
}

.inactive {
	background-color: transparent;
	color: black;
	border: solid 1px black;
	border-radius: 20px;
}

.inactive:hover {
	background-color: var(--color-cream-muted);
}
