.navbar {
	display: flex;
	margin: 10px 0 50px;
}

.nav-item {
	margin-right: 30px;
}

.active {
	background-color: var(--color-cream-muted);
	color: black;
	border: solid 1px black;
	border-radius: 20px;
}

.inactive {
	background-color: transparent;
	color: black;
	border: solid 1px black;
	border-radius: 20px;
}
