.registerBox {
	height: 500px;
	padding: 40px 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.registerInputWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.registerButtonWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	justify-content: flex-start;
	justify-items: flex-start;
}

.registerError {
	color: var(--color-red-accent);
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
