.registerBox {
	height: 430px;
	padding: 40px 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.registerInputWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	margin-bottom: 30px;
}

.registerButtonWrapper {
	/* margin-top: 0px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.registerError {
	color: var(--color-red-accent);
	font-size: 16px;
	margin-bottom: 30px;
}
